body {
    font-family: "Open sans";
}

.kotak {
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
}

.imsakiyah table {
    width: 100%;
}

.imsakiyah table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.imsakiyah table th {
    background: aquamarine;
}

.imsakiyah table td {
    text-align: center;
}

.imsakiyah table tr th,
.imsakiyah table tr td {
    border: 1px solid #ccc;
    padding: 5px;
}

.imsakiyah table {
    border-collapse: collapse;
    width: 100%;
}